<app-search (searchQuery)="onSearch($event)"></app-search> <!-- Include Search Component -->

<div class="cards-container" *ngIf="pokemonNames.length > 0">
  <div 
    *ngFor="let pokemon of pokemonNames | paginate: { itemsPerPage: 12, currentPage: page, totalItems: totalPokemons }"
  >
    <app-card [pokemonName]="pokemon.name"></app-card>
  </div>
</div>

<div *ngIf="notFoundMessage" class="no-pokemon-found">
  <p>{{ notFoundMessage }}</p>
</div>

<pagination-controls
  [responsive]="true"
  (pageChange)="page = $event; getPokemons()"
></pagination-controls>


