// not found page
$here-link: #1976d2;

// card button
$card-button-background: #ffd200;
$card-button-border: black;

// card
$card-background: #ffd200;
$card-border: #00c2ffed;
$text: #333;

// toolbar
$toolbar-background: #1976d2;

// pagination
$page-number-text: #333;
$page-number-hover: #f7e492;
$page-number-text-active: white;
$page-number-active-background: #1976d2;
$pagination-button: #8d42f5;
$pagination-button-hover: #d272d2;
$pagination-button-disabled: #635f63;
$pagination-button-text: white;

.reset-button {
    background-color: $card-button-background; /* Button background */
    border: 2px solid $card-button-border; /* Border color */
    color: $text; /* Text color */
    font-size: 16px; /* Font size */
    padding: 10px 20px; /* Padding */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease, border-color 0.3s ease;
  
    &:hover {
      background-color: $here-link; /* Change background on hover */
      border-color: $card-border; /* Change border color on hover */
      color: white; /* Change text color on hover */
    }
  
    &:focus {
      outline: none; /* Remove focus outline */
    }
  
    &:active {
      background-color: darken($here-link, 10%); /* Darken background on click */
      border-color: darken($card-border, 10%); /* Darken border on click */
    }
  }
  