// not found page
$here-link: #1976d2;

// card button
$card-button-background: #ffd200;
$card-button-border: black;

// card
$card-background: #ffd200;
$card-border: #00c2ffed;
$text: #333;

// toolbar
$toolbar-background: #1976d2;

// pagination
$page-number-text: #333;
$page-number-hover: #f7e492;
$page-number-text-active: white;
$page-number-active-background: #1976d2;
$pagination-button: #8d42f5;
$pagination-button-hover: #d272d2;
$pagination-button-disabled: #635f63;
$pagination-button-text: white;
