<div *ngIf="[pokemon]" class="pokemonPageWrapper">
  <h3>{{ pokemon.name | titlecase }}</h3>
  <div class="pokemonPageDescription">
    <img class="pageImage" src="{{ pokemon.src }}" alt="{{ pokemon.name }}" />
    <table>
      <tr>
        <td>Height</td>
        <td>{{ pokemon.height }}</td>
      </tr>
      <tr>
        <td>Weigh</td>
        <td>{{ pokemon.weight }}</td>
      </tr>
      <tr>
        <td>Color</td>
        <td>Green</td>
      </tr>

      <tr>
        <td>Stat</td>
        <ul *ngFor="let stat of pokemon.stats">
          <li>{{ stat.stat.name }}: {{ stat.base_stat }}</li>
        </ul>
      </tr>
      <tr>
        <td>Types</td>
        <ul *ngFor="let type of pokemon.types">
          <li>{{ type.type.name | titlecase }}</li>
        </ul>
      </tr>
    </table>
  </div>
</div>
