<div *ngIf="[pokemon]" class="pokemonPageWrapper">
  <h3>{{ pokemon.name | titlecase }}</h3>
  <div class="pokemonPageDescription">
    <img class="pageImage" src="{{ pokemon.src }}" alt="{{ pokemon.name }}" />
    <table>
      <tr>
        <td>Height</td>
        <td>{{ pokemon.height }}</td>
      </tr>
      <tr>
        <td>Weigh</td>
        <td>{{ pokemon.weight }}</td>
      </tr>
      <tr>
        <td>Color</td>
        <td>Green</td>
      </tr>

      <tr>
        <td>Stat</td>

        <td>{{ pokemon.base_stat }}</td>

        <td>{{ pokemon.stat_name }}</td>
      </tr>
      <tr>
        <td>Types</td>
        <td>{{ pokemon.types | titlecase }}</td>
      </tr>
    </table>
  </div>
</div>
